{% extends 'index.html' %}
{% load static %}

{% block title %}Menu{% endblock title %}

{% block content %}

<h1 style="text-align:center;">Our Menus</h1>

<div class="container">

{% for menu in menu_list %}

<div class="menu-item">

<div class="image">
<img src="{{ menu.image.url }}" alt="{{ menu.name }}">
</div>

<h2>{{ menu.name }} | {{ menu.price }} BIF</h2>

<div class="btn">
<a href="{% url 'new_order' menu.id %}" class="order_btn">Order</a>
</div>

</div>

{% endfor %}

</div>

{% endblock content %}