{% extends 'index.html' %}

	{% block title %}
	Regester Costumer
	{% endblock title %}
	{% block content %}
<div class="all" >
<div class="container1">
		<div class="text">Register Form</div>
		<form method="POST" action="." enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-row">
				<div class="input-data">
						{{profil_form.username}}
					<div class="underline"></div>
					<label for="">User Name</label>
				</div>
				<div class="input-data">
					{{profil_form.nom}}
					<div class="underline"></div>
					<label for="">First Name</label>
				</div>
					<div class="input-data">
					{{profil_form.prenom}}
					<div class="underline"></div>
					<label for="">Last Name</label>
				</div>
			</div>
			<div class="form-row">
				<div class="input-data">
					{{profil_form.password}}
					<div class="underline"></div>
					<label for="">Password</label>
				</div>
					<div class="input-data">
					{{profil_form.password1}}
					<div class="underline"></div>
					<label for="">Confirm Password</label>
				</div>
				<div class="input-data">
					<!-- <label for="">Date of birth</label> -->
					{{profil_form.birthday}}
					<div class="underline"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="input-data">
					{{profil_form.phone}}
					<div class="underline"></div>
					<label for="">Phone Number</label>
				</div>
				<div class="input-data">
					{{profil_form.gender}}
					<div class="underline"></div>
					<label for="">Gender</label>
				</div>
				<div class="input-data">
					{{profil_form.address}}
					<div class="underline"></div>
					<label for="">Office Number</label>
				</div>
			</div>
			<div class="form-row">
				<div class="input-data textarea">
					<p>have already an account? <a href="{% url 'connect' %}">Sign In</a></p>
					<div class="form-row submit-btn">
						<div class="input-data">
							<div class="inner"></div>
							<input type="submit" value="Create">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
	{% endblock content %}